.instructions{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    gap: 10px;
}

.instructions img{
    height: 200px;
}

.instructions__text{
    text-align: center;
}

.press_to_start{
    margin-top: 20px;
    animation: pulse .7s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}